@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,700;1,100&display=swap');

/* globle style  */
.dark-mode{
  background-color: rgb(5, 1, 55);
  color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan",sans-serif;
}
h1{
    font-size: 50px;
    line-height:64px;
    /* color: #222; */
}
h2{
    font-size: 46px;
    line-height: 54px;
    /* color: #222; */
}
h4 {
      font-size: 20px;
    
    /* color: rgb(87, 87, 87); */
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
    /* color: #465b52; */
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}



body{
    width: 100%;
}
#header{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px 30px 80px;
    /* background-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%); */
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   z-index: 999;
    position: sticky;

    top: 0;
    left: 0%;
}

 #navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    transform: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(0, 0, 0);

}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 50px;
    height: 3px;
    /* background:  linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%); */
    background: linear-gradient(to bottom, #ff0000 0%, #ff9999 102%);
    bottom: -4px;
    left: 20px;
    position: absolute;

} 
#mobile {
    display: none;
    align-items: center;


}
#close{
  cursor: pointer;
    display: none;
}

    
/* media responsive  */

@media (max-width:799px) {
    .section-p1{
        padding:40px 40px ;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      position: fixed;
      top: 0;
      right:-300px;
      height: 100vh;
      width: 300px;
      background-color: #fff;
      /* box-shadow: 0 40px 60px;  */
      padding: 80px 0 0 10px;
      transition: 0.4s;
      }
      #navbar.active {
          right: 0px;
      }
      #navbar li {
          margin-bottom: 25px;
      }
      #navbar li a {
        color: rgb(207, 18, 18);
      } 
#mobile {
    display: flex;
    align-items: center;
}
#mobile i {
    font-size: 24px;
    padding-left: 20px;
    cursor: pointer;
}
#bar{
    font-weight: 400;
    padding-left: 10px;
   /*  font-size: 10px; */
    cursor: pointer;
}
#close{
    display: initial;
    position: absolute;
    top: 30px;
    padding-left: 20px;
    font-size: 24px;

}

.Statistics{
  width: 50%;
}

}

@media (max-width:477px){
    .section-p1 {
        padding: 20px;
    }
    #header{
        padding: 10px 30px;

    }
    h2{
        font-size: 32px;
        
    }
    h1 {
        font-size: 37px;
    }
    #navbar li a {
      color: rgb(207, 18, 18);
      }

      .Statistics{
        width: 50%;
      }
} 



/*

<div class="container">
    <a href="#hero" class="back-to-top" aria-label="go back to top">
      <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
  
      <h3 style="color: black;"> Tech Stack</h3>
 
    <div class="social-links">
      <a
        href="https://mail.google.com/mail/u/0/#inbox?compose=new"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="twitter"
      >
        <!-- <i class="fa fa-html5"></i> -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z"/></svg>
      </a>
      <!-- --><a
        href="#!"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="instagram"
      >
        <!-- <i class="fa fa-css3"></i> -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M480 32l-64 368-223.3 80L0 400l19.6-94.8h82l-8 40.6L210 390.2l134.1-44.4 18.8-97.1H29.5l16-82h333.7l10.5-52.7H56.3l16.3-82H480z"/></svg>
      </a>
      <a
        href="#!"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="codepen"
      >
        <!-- <i class="<i class="fa-brands fa-html5"></i>"></i>  -->
        <!-- <i class="fa-brands fa-java"></i> --> 
        <!-- <i class="fa fa-git"></i> --> 
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 32v448h448V32H0zm243.8 349.4c0 43.6-25.6 63.5-62.9 63.5-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6 13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7zm99.6 63.5c-39.1 0-64.4-18.6-76.7-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6 17.4 0 28.6-8.7 28.6-20.8 0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5 0-31.6 24.1-55.6 61.6-55.6 26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18-12.3 0-20.1 7.8-20.1 18 0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2 0 37.8-29.8 58.6-69.7 58.6z"/></svg>
     </a> 
      <a
        href="https://www.linkedin.com/in/brajesh-lovanshi-2b274220a/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="linkedin"
      >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M277.74 312.9c9.8-6.7 23.4-12.5 23.4-12.5s-38.7 7-77.2 10.2c-47.1 3.9-97.7 4.7-123.1 1.3-60.1-8 33-30.1 33-30.1s-36.1-2.4-80.6 19c-52.5 25.4 130 37 224.5 12.1zm-85.4-32.1c-19-42.7-83.1-80.2 0-145.8C296 53.2 242.84 0 242.84 0c21.5 84.5-75.6 110.1-110.7 162.6-23.9 35.9 11.7 74.4 60.2 118.2zm114.6-176.2c.1 0-175.2 43.8-91.5 140.2 24.7 28.4-6.5 54-6.5 54s62.7-32.4 33.9-72.9c-26.9-37.8-47.5-56.6 64.1-121.3zm-6.1 270.5a12.19 12.19 0 0 1-2 2.6c128.3-33.7 81.1-118.9 19.8-97.3a17.33 17.33 0 0 0-8.2 6.3 70.45 70.45 0 0 1 11-3c31-6.5 75.5 41.5-20.6 91.4zM348 437.4s14.5 11.9-15.9 21.2c-57.9 17.5-240.8 22.8-291.6.7-18.3-7.9 16-19 26.8-21.3 11.2-2.4 17.7-2 17.7-2-20.3-14.3-131.3 28.1-56.4 40.2C232.84 509.4 401 461.3 348 437.4zM124.44 396c-78.7 22 47.9 67.4 148.1 24.5a185.89 185.89 0 0 1-28.2-13.8c-44.7 8.5-65.4 9.1-106 4.5-33.5-3.8-13.9-15.2-13.9-15.2zm179.8 97.2c-78.7 14.8-175.8 13.1-233.3 3.6 0-.1 11.8 9.7 72.4 13.6 92.2 5.9 233.8-3.3 237.1-46.9 0 0-6.4 16.5-76.2 29.7zM260.64 353c-59.2 11.4-93.5 11.1-136.8 6.6-33.5-3.5-11.6-19.7-11.6-19.7-86.8 28.8 48.2 61.4 169.5 25.9a60.37 60.37 0 0 1-21.1-12.8z"/></svg>
        
      </a>
      <a
        href="https://mramankr97.github.io/images/html.svg"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="github"
      >
      </a>
    <a href="">
      <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>MySQL</title><path d="M16.405 5.501c-.115 0-.193.014-.274.033v.013h.014c.054.104.146.18.214.273.054.107.1.214.154.32l.014-.015c.094-.066.14-.172.14-.333-.04-.047-.046-.094-.08-.14-.04-.067-.126-.1-.18-.153zM5.77 18.695h-.927a50.854 50.854 0 00-.27-4.41h-.008l-1.41 4.41H2.45l-1.4-4.41h-.01a72.892 72.892 0 00-.195 4.41H0c.055-1.966.192-3.81.41-5.53h1.15l1.335 4.064h.008l1.347-4.064h1.095c.242 2.015.384 3.86.428 5.53zm4.017-4.08c-.378 2.045-.876 3.533-1.492 4.46-.482.716-1.01 1.073-1.583 1.073-.153 0-.34-.046-.566-.138v-.494c.11.017.24.026.386.026.268 0 .483-.075.647-.222.197-.18.295-.382.295-.605 0-.155-.077-.47-.23-.944L6.23 14.615h.91l.727 2.36c.164.536.233.91.205 1.123.4-1.064.678-2.227.835-3.483zm12.325 4.08h-2.63v-5.53h.885v4.85h1.745zm-3.32.135l-1.016-.5c.09-.076.177-.158.255-.25.433-.506.648-1.258.648-2.253 0-1.83-.718-2.746-2.155-2.746-.704 0-1.254.232-1.65.697-.43.508-.646 1.256-.646 2.245 0 .972.19 1.686.574 2.14.35.41.877.615 1.583.615.264 0 .506-.033.725-.098l1.325.772.36-.622zM15.5 17.588c-.225-.36-.337-.94-.337-1.736 0-1.393.424-2.09 1.27-2.09.443 0 .77.167.977.5.224.362.336.936.336 1.723 0 1.404-.424 2.108-1.27 2.108-.445 0-.77-.167-.978-.5zm-1.658-.425c0 .47-.172.856-.516 1.156-.344.3-.803.45-1.384.45-.543 0-1.064-.172-1.573-.515l.237-.476c.438.22.833.328 1.19.328.332 0 .593-.073.783-.22a.754.754 0 00.3-.615c0-.33-.23-.61-.648-.845-.388-.213-1.163-.657-1.163-.657-.422-.307-.632-.636-.632-1.177 0-.45.157-.81.47-1.085.315-.278.72-.415 1.22-.415.512 0 .98.136 1.4.41l-.213.476a2.726 2.726 0 00-1.064-.23c-.283 0-.502.068-.654.206a.685.685 0 00-.248.524c0 .328.234.61.666.85.393.215 1.187.67 1.187.67.433.305.648.63.648 1.168zm9.382-5.852c-.535-.014-.95.04-1.297.188-.1.04-.26.04-.274.167.055.053.063.14.11.214.08.134.218.313.346.407.14.11.28.216.427.31.26.16.555.255.81.416.145.094.293.213.44.313.073.05.12.14.214.172v-.02c-.046-.06-.06-.147-.105-.214-.067-.067-.134-.127-.2-.193a3.223 3.223 0 00-.695-.675c-.214-.146-.682-.35-.77-.595l-.013-.014c.146-.013.32-.066.46-.106.227-.06.435-.047.67-.106.106-.027.213-.06.32-.094v-.06c-.12-.12-.21-.283-.334-.395a8.867 8.867 0 00-1.104-.823c-.21-.134-.476-.22-.697-.334-.08-.04-.214-.06-.26-.127-.12-.146-.19-.34-.275-.514a17.69 17.69 0 01-.547-1.163c-.12-.262-.193-.523-.34-.763-.69-1.137-1.437-1.826-2.586-2.5-.247-.14-.543-.2-.856-.274-.167-.008-.334-.02-.5-.027-.11-.047-.216-.174-.31-.235-.38-.24-1.364-.76-1.644-.072-.18.434.267.862.422 1.082.115.153.26.328.34.5.047.116.06.235.107.356.106.294.207.622.347.897.073.14.153.287.247.413.054.073.146.107.167.227-.094.136-.1.334-.154.5-.24.757-.146 1.693.194 2.25.107.166.362.534.703.393.3-.12.234-.5.32-.835.02-.08.007-.133.048-.187v.015c.094.188.188.367.274.555.206.328.566.668.867.895.16.12.287.328.487.402v-.02h-.015c-.043-.058-.1-.086-.154-.133a3.445 3.445 0 01-.35-.4 8.76 8.76 0 01-.747-1.218c-.11-.21-.202-.436-.29-.643-.04-.08-.04-.2-.107-.24-.1.146-.247.273-.32.453-.127.288-.14.642-.188 1.01-.027.007-.014 0-.027.014-.214-.052-.287-.274-.367-.46-.2-.475-.233-1.238-.06-1.785.047-.14.247-.582.167-.716-.042-.127-.174-.2-.247-.303a2.478 2.478 0 01-.24-.427c-.16-.374-.24-.788-.414-1.162-.08-.173-.22-.354-.334-.513-.127-.18-.267-.307-.368-.52-.033-.073-.08-.194-.027-.274.014-.054.042-.075.094-.09.088-.072.335.022.422.062.247.1.455.194.662.334.094.066.195.193.315.226h.14c.214.047.455.014.655.073.355.114.675.28.962.46a5.953 5.953 0 012.085 2.286c.08.154.115.295.188.455.14.33.313.663.455.982.14.315.275.636.476.897.1.14.502.213.682.286.133.06.34.115.46.188.23.14.454.3.67.454.11.076.443.243.463.378z"/></svg>
    </a>
    <a href="https://mramankr97.github.io/images/html.svg">
      <svg ></svg>
    </a>
    <a href=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="https://mramankr97.github.io/images/html.svg"/></svg></a>
    </div>
  </a>
    <hr />
    
  </div>*/


  /* ===== SKILLS =====*/
.skills-container {

  row-gap: 2rem;
  text-align: center;
}
.skills-subtitle {
  margin-bottom: var(--mb-2);
}
.skills-text {
  margin-bottom: var(--mb-4);
}
.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}
.skills-icon {
  width: 2rem;
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
img.man-icons {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills-names {
  display: flex;
  align-items: center;
}
.skills-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}
.skills-html {
  width: 75%;
}
.skills-css {
  width: 70%;
}
.skills-js {
  width: 85%;
}
.skills-react,
.skills-mongo {
  width: 80%;
}
.skills-redux {
  width: 90%;
}
.skills-mui,
.skills-sql {
  width: 65%;
}
.skills-ts {
  width: 70%;
}
.skills-express,
.skills-node {
  width: 85%;
}
.skills-img {
  border-radius: 0.5rem;
}
